version: '3.3'
services:

  tyk-plugin-compiler:
    image: tykio/tyk-plugin-compiler:${TYK_VERSION:-v4.1.0}
    volumes:
      - ./go/src:/plugin-source

  tyk-gateway:
    image: sedkis/gatewayamd:${TYK_VERSION:-v4.1.0} 
    # depends_on:
    #   - tyk-mongo
    #   - tyk-redis
    ports:
      - "8080:8080"
    volumes:
      - ./tyk/bundle:/opt/tyk-gateway/bundle
      - ./tyk/middleware:/opt/tyk-gateway/middleware
    env_file:
      - ./tyk/confs/tyk.env
    networks:
      - tyk

  tyk-pump:
    image: tykio/tyk-pump-docker-pub:v1.5.1
    depends_on:
      - tyk-gateway
      - tyk-mongo
      - tyk-redis
    env_file:
      - ./tyk/confs/pump.env
    networks:
      - tyk

  tyk-dashboard:
    image: tykio/tyk-dashboard:${TYK_VERSION:-v4.0.0}
    depends_on:
      - tyk-gateway
      - tyk-pump
    ports:
      - "3000:3000"
      - "5000:5000"
    env_file:
      - ./tyk/confs/tyk_analytics.env
    networks:
      - tyk

  tyk-mongo:
    image: mongo:4.0
    command: [ "mongod", "--smallfiles" ]
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - tyk

  tyk-redis:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - tyk

volumes:
  mongo-data:
  redis-data:

networks:
  tyk:
